/* Resetar os estilos */
body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    text-align: center;

}

a {
    text-decoration: none;
    color: white;
}

/* Estilizando */


h1{
    text-align: center;
    margin-top: 100px;
}
.header {
    background: #1d1e20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;     
    padding: 20px;
}
 img{
     width: 100%;
     display: block;
 }
.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/* CSS FLEXBOX 1 */

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.flex > div{
    flex:1 1 200px;
    margin: 10px;

}

/* CSS Grid */

.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 780px;
    margin: 0 auto;
    grid-gap:20px;
}